@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    cursor: default;
    font-size: 100%;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
}

:root{
    --body-bg: url('../img/background.jpg');
    --header-bg: #222222;
}

body {
    background-attachment: fixed;
    /* background-image: url('../img/background.jpg'); */
    background-image: var(--body-bg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Inter', sans-serif;
    opacity: 0.8;
    overflow-y: scroll;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
}

h1,
h2,
h3,
h4 {
    color: #333333;
    font-weight: bold;
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 16px
}

a,
p,
span,
header button {
    font-size: 14px;
    color: #333333
}

small {
    font-size: 10px;
    color: #333333;
}

button {
    background-color: #e6e6e6;
    border-radius: 7px 0;
    border: 2px solid #d6ceff;
    cursor: pointer;
    font-size: 12px;
    padding: 1px 5px;
    width: 100%;
}

button:hover {
    background-color: #d6ceff;
    border-color: #5744b9;
    transform: translateY(5px);
    transition: 0.5s ease;
}

/* ------------ HEADER ------------ */
header {
    background-color: var(--header-bg);
    box-shadow: 1px 1px 20px #cdc3ff;
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav h1 {
    color: #ff8800;
    letter-spacing: 8px;
    animation: identifier 3s infinite;
    font-size: 40px;
}

nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 20px;
}

nav button {
    border-radius: 7px 0;
    cursor: pointer;
    height: 30px;
    padding: 3px 7px;
}

nav button:hover {
    background: #5744b9;
    border: 2px solid #d6ceff;
    color: white;
    transform: translateY(5px);
    transition: 0.5s ease;
}

.btn-pressed{
    background: #5744b9;
    border: 2px solid #d6ceff;
    color: white;
}

/* ------------ MAIN ------------ */
main {
    display: flex;
    gap: 40px;
    padding: 120px 0 50px 0;
}

/* ------------ SECTION ------------ */
section {
    width: 71%
}

.section-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.section-item {
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 270px;
}

.section-item:hover {
    box-shadow: 2px 2px 5px black;
    transform: translateY(-7px);
    transition: 0.3s linear;
    opacity: 1;
}

.section-item:hover img {
    opacity: 1
}

.section-item img {
    background-color: #F5F5F5;
    border-radius: 3px;
    height: 150px;
    object-fit: contain;
    opacity: 0.7;
    width: 100%;
}

.section-item div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: space-evenly;
    padding: 15px;
}

.section-item div span:first-child {
    background-color: #2E245E;
    border-radius: 3px;
    color: #F5F5F5;
    font-weight: 200;
    padding: 4px;
    width: fit-content;
}

.section-item div span {
    color: #2E245E;
    font-weight: 600;
}

#not-found {
    padding-top: 50px;
    width: 600px;
    margin: 0 auto;
}

/* ------------ ASIDE ------------ */
aside {
    position: fixed;
    top: 120px;
    transform: translateX(898px);
    width: 300px;
    height: 750px;
}

#search-bar {
    display: flex;
    gap: 7px;
    justify-content: space-between;
    width: 100%;
}

#search-bar input {
    background-color: #e6e6e6;
    border-radius: 3px;
    border: 2px solid #d6ceff;
    cursor: pointer;
    font-size: 14px;
    height: 45px;
    padding: 0 7px;
    box-shadow: 1px 1px 10px #cdc3ff;
}

#search-bar input:hover {
    background: #5744b9;
    color: white;
    transition: 0.5s ease;
}

#search-bar input:first-child {
    background-color: #F5F5F5;
    border: none;
    color: #333333;
    cursor: text;
    font-size: 14px;
    padding-left: 15px;
    width: 100%;
    box-shadow: 1px 1px 10px #cdc3ff;
}

#cart {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px #cdc3ff;
}

.cart-title {
    align-items: center;
    background-color: #37268C;
    border-radius: 8px 8px 0 0;
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
}

.cart-title h4 {
    color: #F5F5F5
}

.cart-title img {
    width: 22px
}

.cart-list {
    background-color: #F5F5F5;
    display: flex;
    display: none;
    flex-direction: column;
    height: 270px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.cart-list::-webkit-scrollbar-track {
    background-color: #e6e6e6
}

.cart-list::-webkit-scrollbar {
    background: #e6e6e6;
    width: 8px;
}

.cart-list::-webkit-scrollbar-thumb {
    background: #d6ceff
}

.empty-list {
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    justify-content: center;
    width: 100%;
}

.empty-list img {
    width: 70%
}

.cart-item {
    align-items: center;
    background-color: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 2px 5px;
    padding: 5px;
    transform: translateX(-280px);
    transition: 0.8s ease;
}

.product-desc {
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.product-desc img {
    height: 100%;
    object-fit: contain;
    width: 70px;
}

.product-desc div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

.product-desc button {
    width: fit-content
}

.product-desc button:hover {
    transform: translateX(25px)
}

.quantity-items {
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#decrement,
#increment {
    align-items: center;
    background-color: #e6e6e6;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 0 5px 2px 5px;
    width: 100%;
}

#decrement:hover,
#increment:hover {
    background-color: #d6ceff;
    cursor: pointer;
}

.totalizer {
    background-color: #333333;
    color: white;
    display: none;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}

.totalizer:last-child {
    border-radius: 0 0 8px 8px
}

.totalizer h4,
.totalizer span {
    color: white;
    font-weight: 400;
}

#symbol {
    align-items: center;
    border-radius: 100%;
    box-shadow: 2px 2px 20px white;
    display: flex;
    height: 200px;
    justify-content: center;
    left: 50px;
    opacity: 0.3;
    padding-top: 18px;
    position:absolute;
    top: 505px;
    width: 200px;
}

#symbol span {
    font-size: 130px;
    font-weight: bold;
    text-shadow: 2px 2px 20px white;
}

/* ------------ FOOTER ------------ */
footer {
    background-color: #1b1a18;
    bottom: 0;
    box-shadow: 1px 1px 20px #cdc3ff;
    height: 35px;
    padding-top: 3px;
    position: fixed;
    text-align: right;
    width: 100%;
}

footer small {
    align-items: center;
    border-radius: 0 0 10px 10px;
    border: 4px double rgb(71, 71, 71);
    color: cyan;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
}